body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}


.site-header {
    background: #0b0d36;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .2s;
}

.navbar a:hover {
    color: #ffcc00;
}


.titulo {
    background: white;
    padding: 40px 0;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.titulo h1 {
    font-size: 80px;
    margin: 0;
    color: #0b0d36;
    letter-spacing: 4px;
    font-weight: 900;
}



.productos {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.prod {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: .3s;
}

.prod:hover {
    transform: scale(1.03);
}

.prod img {
    width: 100%;
    border-radius: 10px;
}

.precio {
    color: #0b0d36;
    font-weight: bold;
    margin-top: 5px;
}
