body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0d36;
}

/* HEADER */
.site-header {
    background: #0b0d36;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .2s;
}

.navbar a:hover {
    color: #ffcc00;
}

/* TITULO */
.titulo {
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 900;
    margin: 40px 0 20px;
    letter-spacing: 3px;
}

/* GRID DE NAVIDAD */
.navidad-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 30px 40px;
}

.card {
    position: relative;
    display: block;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    height: 380px;
    transition: .3s;
}

.card:hover {
    transform: scale(1.04);
}

/* Imagen */
.card .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: .4s;
}

.card:hover .img {
    filter: brightness(1.2);
    transform: scale(1.05);
}

/* TEXTO ENCIMA */
.card span {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    font-size: 28px;
    font-weight: 900;
    text-shadow: 0 0 8px black;
}
