body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 3, 77);
    padding: 10px;
}

.navbar {
    background: rgb(41, 3, 77);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 15px 40px;
    box-shadow: 0 8px 20px rgb(111, 13, 223);
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition: color 0,3s;
}
.navbar a:hover{
    color: aqvidua;
}

.menu-botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}

.menu-botones a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 6px;
  font-weight: bold;
  color: black;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.menu-botones a:hover {
  background-color: #004d98; /* azul Barça */
  color: white;
}

section {
  margin: 50px auto;
  padding: 20px;
  max-width: 1200px;
}

section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #222;
  text-transform: uppercase;
}

.jugadores {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.jugador {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  text-align: center;
}

.jugador:hover {
  transform: scale(1.05);
}

.jugador img {
  width: 100%;
  height: auto;
}

.jugador h2 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #111;
}

.jugador h2 span {
  font-weight: bold;
  text-transform: uppercase;
}

.jugador p {
  color: gray;
  font-size: 14px;
  margin-bottom: 15px;
}

#cuerpo-tecnico .jugador {
  background: #f9f9f9;
  border: 1px solid #ddd;
}

#cuerpo-tecnico .jugador h2 {
  font-size: 18px;
  color: #004d98;
}

#cuerpo-tecnico .jugador p {
  color: #a50044;
  font-weight: bold;
}

.cuerpo-tecnico-lista {
  max-width: 900px;
  margin: 30px auto;
  border-radius: 6px;
  overflow: hidden;
}

.cuerpo-tecnico-lista .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  background: #f2f2f2;
  border-bottom: 2px solid white;
}

.cuerpo-tecnico-lista .rol {
  font-weight: bold;
  text-transform: uppercase;
  color: #111;
}

.cuerpo-tecnico-lista .nombre {
  font-weight: bold;
  text-transform: uppercase;
  color: #111;
}

.cuerpo-tecnico-lista .fila:hover {
  background: #e0e0e0;
  cursor: pointer;
}