body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 3, 77);
    padding: 10px;
}

.navbar {
    background: rgb(41, 3, 77);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 15px 40px;
    box-shadow: 0 8px 20px rgb(111, 13, 223);
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition: color 0,3s;
}
.navbar a:hover{
    color: aqvidua;
}

.menu-botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}

.menu-botones a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 6px;
  font-weight: bold;
  color: black;
  transition: 0.3s;
  border: 1px solid #ddd;
}

.menu-botones a:hover {
  background-color: #004d98; /* azul Barça */
  color: white;
}

section {
  margin: 50px auto;
  padding: 20px;
  max-width: 1200px;
}

section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #222;
  text-transform: uppercase;
}
