body{
    background-color: #a50044;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.caja {
  width: 200px;            /* Ancho */
  height: 200px;           /* Alto */
  background-color: lightblue; /* Color de fondo */
  color: white;            /* Color del texto */
  padding: 30px;           /* Espacio interno (entre texto y borde) */
  border: 2px solid rgb(46, 8, 148);  /* Borde alrededor de la caja */
  margin: 30px;            /* Espacio hacia afuera de la caja */
  border-radius: 50px;     /* Bordes redondeados */
}


.i1{
    margin-top: -27px;
    padding: 14px;
   max-width: 300%;   /* Para que la imagen no se deforme */
   max-height: 100%;/* Se ajusta dentro de la caja */
}

.i2{
   margin-top: -27px;
   padding: 14px;
   max-width: 300%;   /* Para que la imagen no se deforme */
   max-height: 100%;/* Se ajusta dentro de la caja */
}

.i3{
   margin-top: -27px;
   padding: 14px;
   max-width: 300%;   /* Para que la imagen no se deforme */
   max-height: 100%;/* Se ajusta dentro de la caja */
}

.i4{
   margin-top: -27px;
   padding: 14px;
   max-width: 300%;   /* Para que la imagen no se deforme */
   max-height: 100%;/* Se ajusta dentro de la caja */
   margin-right: -100%;
} 

h3{
    color: rgb(46, 8, 148);
  display: flex -50%;
  margin-top: -5%;
  text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin-right: 20px;
}
    
.div1 {
    grid-row-start: 2;
}

.div2 {
    grid-row-start: 2;
}

.div3 {
    grid-row-start: 2;
}

.div4 {
    grid-row-start: 2;
}