body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to  right, #a50044, #004D98);
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 3, 77);
    padding: 10px;
}
.navbar {
    background: rgb(41, 3, 77);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 15px 40px;
    box-shadow: 0 8px 20px rgb(111, 13, 223);
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition: color 0,3s;
}
.navbar a:hover{
    color: aqvidua;
}
.texto{
    text-align: center;
     width: 500px;       
      margin: 50px auto;   
      padding: 20px;
}

.leyendas{
  text-align: center;
     

}

.contenedor{
   display: flex;
      flex-wrap: wrap;     
      gap: 20px;
      justify-content: center;
      padding: 20px;
}
.caja {
    width: 250px;
    height: 250px;
    border: 2px solid rgba(242, 237, 237, 0.3);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(242, 237, 237, 0.3);
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
}
.caja:hover{
    transform: scale(1.05);
}
.caja img{
    width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      display: block;
}
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.caja:hover .info{
    opacity: 1;
}

.caja2 img{
  display: block;           
  margin: 20px auto;       
  border-radius: 20px;      
  max-width: 100%;           
  height: auto;            
  box-shadow: 0px 4px 10px rgba(0,0,0,0.5); 
    
}
#btntop {
  align-items: center;

}
#btntop.show{
  opacity:1;
  visibility: visible;
}
#btntop::before{
  content: "arriba";
  font-size: 20px;
  color: #111;
}
#btntop:hover{
  background-color: #004D98;
}
#btntop:hover::before{
  color: beige;
}

.socios {
      background: #f9f9f9;
      padding: 40px 0;
      text-align: center;
    }

    .socios h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .carrusel {
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .slide-track {
      display: flex;
      width: calc(200px * 6); 
      animation: scroll 20s linear infinite;
    }

    .slide {
      width: 200px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slide img {
      max-width: 150px;
      height: auto;
      filter: grayscale(100%);
      transition: 0.3s;
    }

    .slide img:hover {
      filter: grayscale(0%);
      transform: scale(1.1);
    }

    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-200px * 3)); } /* se mueve la mitad */
    }
    #btnarriba {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: #f4f2f3;
      color: #171819;
      border: none;
      border-radius: 0;
      padding: 10px 25px;
      cursor: pointer;
      font-size: 20px;
      box-shadow: 0 2px 6px rgb(0,0,0,0,3);
    }
    #btnarriba:hover{
      background: rgb(22, 17, 31);
    }
