body{
    background-color: #a50044;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 3, 77);
    padding: 5px;
}
.navbar {
    background: rgb(41, 3, 77);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 15px 40px;
    box-shadow: 0 8px 20px rgb(111, 13, 223);
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}
.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition: color 0,3s;
}
.navbar a:hover{
    color: aqvidua;
}

.caja {
  width: 200px;            /* Ancho */
  height: 200px;           /* Alto */
  background-color: lightblue; /* Color de fondo */
  color: white;            /* Color del texto */
  padding: 30px;           /* Espacio interno (entre texto y borde) */
  border: 2px solid rgb(46, 8, 148);  /* Borde alrededor de la caja */
  margin: 30px;            /* Espacio hacia afuera de la caja */
  border-radius: 50px;     /* Bordes redondeados */
}

h4{
   color: white;
   display: flex;
   text-align: center;
   margin-top: -30px;
   margin-left: -12px;
}

.i1{
    margin-top: -27px;
    padding: 14px;
   max-width: 300%;   /* Para que la imagen no se deforme */
   max-height: 100%;/* Se ajusta dentro de la caja */
}

.i2{
   margin-top: -27px;
   padding: 14px;
   max-width: 300%;   /* Para que la imagen no se deforme */
   max-height: 100%;/* Se ajusta dentro de la caja */
}

.i3{
   margin-top: -27px;
   padding: 14px;
   max-width: 300%;   /* Para que la imagen no se deforme */
   max-height: 100%;/* Se ajusta dentro de la caja */
}

.i4{
   margin-top: -27px;
   padding: 14px;
   max-width: 300%;   /* Para que la imagen no se deforme */
   max-height: 100%;/* Se ajusta dentro de la caja */
   margin-right: -100%;
} 

h3{
    color: rgb(46, 8, 148);
  display: flex -50%;
  margin-top: -5%;
  text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    margin-right: 20px;
}
    
.div1 {
    grid-row-start: 2;
}

.div2 {
    grid-row-start: 2;
}

.div3 {
    grid-row-start: 2;
}

.div4 {
    grid-row-start: 2;
}

.carrusel {
      overflow: hidden;
      position: relative;
      width: 100%;
      background-color: antiquewhite;
    }

    .slide-track {
      display: flex;
      width: calc(200px * 6); 
      animation: scroll 20s linear infinite;
    }

    .slide {
      width: 200px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slide img {
      max-width: 150px;
      height: auto;
      filter: grayscale(100%);
      transition: 0.3s;
    }

    .slide img:hover {
      filter: grayscale(0%);
      transform: scale(1.1);
    }

    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-200px * 3)); } /* se mueve la mitad */
    }