body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to  right, #a50044, #004D98);
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 3, 77);
    padding: 10px;
}